2 & 3 material module -->
<button mat-raised-button>Hello</button>

<!--4 typography : a set of classes concerned with the style and appearance of text in application-->
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is heading h1</div>
<div class="mat-title">This is heading h2</div>
<div class="mat-subheading-2">This is heading h3</div>
<div class="mat-subheading-1">This is heading h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
  <h1>This is a heading for h1</h1>
  <h2>This is a heading for h2</h2>
  <h3>This is a heading for h3</h3>
  <h4>This is a heading for h4</h4>
</div>

<!-- 5 button -->

<div>
  <button mat-button>Click Me!</button>
  <button mat-raised-button>Click Me!</button>
  <button mat-flat-button>Click Me!</button>
  <button mat-stroke-button>Click Me!</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>Minifab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>

 6 toggle button -->

  <div>
  <mat-button-toggle #toggleBtn checked disableRipple disabled >Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div> -->

<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">react</mat-button-toggle>
    <mat-button-toggle value="vue">vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->

<!-- 7 icons -->

<!-- <div>
  <mat-icon color="primary"> grade</mat-icon>
</div> -->

<!-- 8 badges -->
<div class="diva">
  <span [matBadge]="notifications" [matBadgeHidden]="notifications===0">Notifications</span>
</div>


<div class="diva">
  <span matBadge="5" matBadgePosition="below before">Notifications</span>
</div>

<div class="diva">
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>

<div class="diva">
  <span matBadge="5" matBadgePosition="above before">Notifications</span>
</div>



<div class="diva">
  <span matBadge="5" matBadgeSize="small">Notifications</span>
</div>

<div class="diva">
  <span matBadge="5" matBadgeSize="medium">Notifications</span>
</div>

<div class="diva">
  <span matBadge="5" matBadgeSize="large">Notifications</span>
</div>


<div class="diva">
  <span matBadge="5" matBadgeColor="primary">Notifications</span>
</div>
<div class="diva">
  <span matBadge="5" matBadgeColor="accent">Notifications</span>
</div>
<div class="diva">
  <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">Notifications</span>
</div>

<!--9 progress Spinner -->

<!-- <mat-progress-spinner value="100"></mat-progress-spinner> -->
<!-- <mat-spinner *ngIf="=showSpinner"></mat-spinner> -->
<button (click)="loadData()">Load Data</button>

<!-- 10 navbar -->
<!-- 
<mat-toolbar color="primary">
  <div>Hello</div>
  
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
  
</mat-toolbar> -->

<!-- 11 side nav -->

<!-- <mat-sidenav-container>
<mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')" mode="side" [(opened)]>Sidenav</mat-sidenav>
<mat-sidenav-content >Main
  <button (click)="opened=!opened">Toggle opened</button>
  <button (click)="sidenav.open()">Open</button>
  <button (click)="sidenav.close()">Close</button>
  <button (click)="sidenav.toggle()">Toggle</button>
</mat-sidenav-content>
</mat-sidenav-container>
 -->


 <!-- 12 menu -->
<!-- 
 <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTrigger]="subMenu">FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
 </mat-menu>

 <button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>

 <mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
 </mat-menu>

 <mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Log Out {{name}}</button>
  </ng-template>

 </mat-menu>

 <button mat-raised-button [matMenuTriggerData]="{name:'faizan',hobby:'football'}" [matMenuTriggerFor]="lazyMenu">faizan</button>
 <button mat-raised-button [matMenuTriggerData]="{name:'code'}"  [matMenuTriggerFor]="lazyMenu">code</button> -->

<!-- 13 list -->
<!-- 
<mat-list>
  <mat-list-item>
    <mat-icon mat-list-Icon>home</mat-icon>
    <h3 matline>Heading</h3>
    <p matline>Line</p>
  </mat-list-item>
</mat-list> -->

<!-- <mat-divider></mat-divider> -->

<!-- <mat-list>
  <mat-list-item>
    <mat-icon mat-list-Icon>folder</mat-icon>
    <h3 matline>Heading 2</h3>
    <p matline>Line 2</p>
  </mat-list-item>
</mat-list> -->

<!-- 
<mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list> -->


<!-- <mat-nav-list>
  <a mat-list-item href="#">Home</a>
  <a mat-list-item href="#">About</a>
  <a mat-list-item href="#">Services</a>
</mat-nav-list> -->


<!-- 14 grid list -->
<!-- <mat-grid-list cols="2"  rowHeight="100px",2:1 > 
  <mat-grid-tile rowsspan="2">Tile 1</mat-grid-tile>
  <mat-grid-tile colspan="2">Tile 2</mat-grid-tile>
  <mat-grid-tile>Tile 3</mat-grid-tile>
  <mat-grid-tile>Tile 4</mat-grid-tile>
</mat-grid-list> -->

<!-- 15 expansion panels -->
<!-- 
<mat-accordian multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 3hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This s the panel content.Add course details</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>

  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      
      <mat-accordian multi="true" hideToggle>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Angular Material
            </mat-panel-title>
            <mat-panel-description>
              Total Duration : 2 hours
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This s the panel content.Add course details</p>
          <mat-action-row>
            <button mat-button>Enroll</button>
          </mat-action-row>
        </mat-expansion-panel>
  </mat-expansion-panel-header>
</mat-expansion-panel>

</mat-accordian>
 -->

 <!-- 16 cards -->
<!-- 
 <mat-card>
  <mat-card-title>
    Card title
  </mat-card-title>

  <mat-card-content>
    This is the card content
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button>Login</button>
  </mat-card-actions>

 </mat-card> -->

 <!-- 17 tabs -->
<!-- <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
  <mat-tab label="Angular">Angular Content</mat-tab>
  <mat-tab label="react">react Content</mat-tab>
  <mat-tab label="vue">vue Content</mat-tab>
</mat-tab-group> -->

<!-- 18 stepper -->

<!-- <mat-horizontal-stepper linear>
  <mat-step label="Shipping Address" completed="false" optional>
    <p>Shipping Address Details</p>
  </mat-step>
  <mat-step label="Billing Address" completed="true" >
    <p>Billing Address Details</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperPrevious>Next</button>
    </div>
  </mat-step>
  <mat-step label="Place Order">
    <p>Order Details</p>
  </mat-step>
</mat-horizontal-stepper> -->

<!-- 19 input -->
<!-- <mat-form-field floatlabel="auto" hideRequiredMarker>
  <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field> -->

<!-- 20 select -->
<!-- <mat-form-field>
  <mat-label>Topic</mat-label>
  <mat-select [(value)]="selectedValue" multiple>
    <mat-option>None</mat-option>
    <mat-opt-group label="Web">
      <mat-option value="angular">Angular</mat-option>
      <mat-option value="react">React</mat-option>
      <mat-option value="vue">Vue</mat-option>
    </mat-opt-group>
    <mat-opt-group label="mobile">
      <mat-option value="ionic">Ionic</mat-option>
      <mat-option value="reactNative">React Native</mat-option>
    </mat-opt-group>
  </mat-select>
</mat-form-field>
{{selectedValue}} -->

<!-- 21 Autocomplete -->
<!-- 
<form >
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [formControl]="myControl">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOption | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->

<!-- 22 checkBox & radiobutton -->
<!-- 
<mat-check-box>
  Subscribe
</mat-check-box>
<br>
<mat-check-box labelPosition="before">
  Subscribe
</mat-check-box>
<br>
<mat-check-box color="primary">
  Subscribe
</mat-check-box>
<br>
<mat-check-box color="warn">
  Subscribe
</mat-check-box>
<br> -->
<!-- 
<mat-radio-group>
  <mat-radio-button value="angular" color="primary">Angular</mat-radio-button>
  <mat-radio-button value="react" >React</mat-radio-button>
  <mat-radio-button value="vue" color="warn">Vue</mat-radio-button>

</mat-radio-group> -->

<!-- 23 datePicker -->

<!-- <mat-form-field>
  <input matInput [matDatepicker]="myDatePicker" [matDateFilter]="dateFilter">
  <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker-toggle #myDatePicker></mat-datepicker-toggle>

</mat-form-field> -->

<!-- 24 popups and models -->

<!-- <button
mat-raised-button
matTooltip="Welcome to code"
matTooltipPosition="before"
matTooltipShowDelay="2000"
matTooltipHideDelay="2000"
>
  Hello</button> -->

<!-- 25 snackbars -->

<!-- <button mat-button (click)="openSnackBar("item deleted",'undo')">
  Delete
</button>
<button mat-button (click)="openCustomSnackBar()">
  Show custom snackbar
</button> -->


<!-- 26 Dialog -->
<!-- <h2 mat-dialog-title>Session timeout</h2>
<mat-dialog-content>Hi {{data.name}} You will be logged out due to inactivity</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="true" >Keep me looged in</button>
  <button mat-button mat-dialog-close mat-dialog-close="false" >Log out</button>
</mat-dialog-actions> -->


<!-- 27 data table -->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<!-- 28 exploring data table -->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<!-- 29 data table filtering-->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


<!-- 30 data table sorting-->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


<!-- 31 data table pagination-->

<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

   Name Column -->
  <!-- <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container> -->

  <!-- Weight Column -->
  <!-- <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <!-- <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->


 <!-- 32 virtual scrolling->

  <cdk-virtual-scroll-viewport itemSize="100" class="container">
    <div *cdkVirtualFor="let number of numbers" class="number">
      {{number}}
    </div>
  </cdk-virtual-scroll-viewport>